<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>显示记账信息 - Li</title>
</head>
<body>

{% extends "father.html" %}
    {% block content %}
    <div class="layui-panel" style="margin-bottom :10px">
        <div style="padding: 10px;">
            <span class="layui-breadcrumb">
                <a href="/">首页</a>
                <a href="/redblack">添加</a>
                <a><cite>查看</cite></a>
            </span>
        </div>
    </div>
    <div class="layui-panel" style="margin-bottom :10px">
        <div>
            {% if state == 0 %}
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                <li class="layui-this"><a href="/redblack/text">全部</a></li>
                <li><a href="/redblack/text/red">红账</a></li>
                <li><a href="/redblack/text/black">黑账</a></li>
                </ul>
            </div>
            {% elif state == 1 %}
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                <li><a href="/redblack/text">全部</a></li>
                <li class="layui-this"><a href="/redblack/text/red">红账</a></li>
                <li><a href="/redblack/text/black">黑账</a></li>
                </ul>
            </div>
            {% elif state == 2 %}
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                <li><a href="/redblack/text">全部</a></li>
                <li><a href="/redblack/text/red">红账</a></li>
                <li class="layui-this"><a href="/redblack/text/black">黑账</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
        {% for i in doct %}
        <div class="layui-card">
            <div class="layui-card-header">{{i["time"]}}</div>
            <div class="layui-card-body">
                <span>{{i["name"]}}记录{{i["bname"]}}</span>
                {% if i.color == "红" %}
                <span style="color: rgb(255, 114, 114);">“{{i.color}}帐”</span>
                {% elif i.color == "黑" %}
                <span style="color: rgb(71, 71, 71);">“{{i.color}}帐”</span>
                {% endif %}
                <span>：{% if i.text == "" %}没有写原因，可以当面问问TA~{% else %}{{i.text}} {% endif %}</span>
                {% if i["comment"] %}
                <div class="layui-panel" style="margin-bottom: 10px;margin-top: 10px;">
                    <div style="padding: 30px;">
                    {% for j in i["comment"] %}
                    <span>{{j["name"]}}评论说【{{j["text"]}}】</span>
                    <span>{{ j["time"] }}</span>
                    <p></p>
                    
                    {% endfor %}    
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">更多操作</h2>
                    <div class="layui-colla-content">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">评论人</label>
                                <div class="layui-input-block">
                                    <input type="text" id ="name{{ i["_id"] }}" class="layui-input" placeholder="{{sname}}" disabled>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">评论：</label>
                                <div class="layui-input-block">
                                    <textarea type="text" id="text{{ i["_id"] }}" placeholder="评论内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button id="swap{{ i["_id"] }}" class="layui-btn" style="margin: 5px">评论</button>
                                    <button id="{{ i["_id"] }}" data="{{ i["_id"] }}" class="layui-btn" style="margin: 5px;">删除</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
                const name{{ i["_id"] }} = document.getElementById("name{{ i["_id"] }}");
                const text{{ i["_id"] }} = document.getElementById("text{{ i["_id"] }}");
                const swap{{ i["_id"] }} = document.getElementById("swap{{ i["_id"] }}");
                var val{{ i["_id"] }} = $("#{{ i["_id"] }}").attr("data");

                function All() {
                    $.ajax({
                        type: "POST",
                        url: "/redblack/text",
                        dataType: "json",
                        data:{"type":"comment","name": name{{ i["_id"] }}.value,"text":text{{ i["_id"] }}.value, "id": val{{ i["_id"] }}}
                    });
                }
                swap{{ i["_id"] }}.addEventListener("click", All);
            </script>
            <script>
                var btn{{ i["_id"] }} = document.getElementById("{{ i["_id"] }}");
                var val{{ i["_id"] }} = $("#{{ i["_id"] }}").attr("data");
                
                function All() {
                    $.ajax({
                        type: "POST",
                        url: "/redblack/text",
                        dataType: "json",
                        data:{"type":"delete","id": val{{ i["_id"] }}}
                    });
                }
                btn{{ i["_id"] }}.addEventListener("click", All);
            </script>
        </div>
        {% endfor %}
    </div>
    <p>&nbsp;</p>
    <a href="/days"><button class="layui-btn">返回</button></a>
    {% endblock %}
    </div>
</body>

</html>