<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>添加特殊日 - Li</title>
</head>

<body>
{% extends "father.html" %}
{% block content %}

<div class="layui-panel" style="margin-bottom :10px">
    <div style="padding: 10px;">
            <span class="layui-breadcrumb">
                <a href="/">首页</a>
                <a><cite>添加</cite></a>
            </span>
    </div>
</div>
<div class="layui-panel">
    <div style="padding: 30px;">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item" pane>
                <label class="layui-form-label">发布</label>
                <div class="layui-input-block">
                    <input type="text" id="name" class="layui-input" placeholder="{{sname}}" disabled>
                </div>
            </div>

            <div class="layui-form-item" pane>
                <label class="layui-form-label">提醒某人</label>
                <div class="layui-input-block">
                    <select id="bname">
                        <option value="null">无</option>
                        {% for userinfo in userinfos %}
                        <option value="{{userinfo.name}}">{{ userinfo.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="layui-form-item" pane>
                <label class="layui-form-label">提醒日期</label>
                <div class="layui-input-block">
                    <input type="text" id="time" class="layui-input" placeholder="选择一个日期">
                </div>
            </div>

            <div class="layui-form-item" pane>
                <label class="layui-form-label">提醒原因</label>
                <div class="layui-input-block">
                    <textarea type="text" id="why" class="layui-textarea" placeholder="为什么值得记录"></textarea>
                </div>
            </div>

        </form>
        <div class="layui-form-item" pane>
            <div class="layui-input-block">
                <button id="swap" class="layui-btn" style="margin: 5px">立即记录</button>
                <a href="/days/text">
                    <button class="layui-btn layui-btn-primary" style="margin: 5px">查看</button>
                </a>
            </div>
        </div>

    </div>
</div>
</body>
<script>
    layui.use("laydate", function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: "#time" //指定元素
        });
    });
    const time = document.getElementById("time");
    const name = document.getElementById("name");
    const bname = document.getElementById("bname");
    const why = document.getElementById("why");
    const swap = document.getElementById("swap");

    function All() {
        $.ajax({
            type: "POST",
            url: "/days",
            dataType: "json",
            data: {
                "time": time.value,
                "bname": bname.value,
                "why": why.value
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
    swap.addEventListener("click", All);

</script>
{% endblock %}

</html>