<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎回家 - Li</title>
</head>

<body>
{% extends "father.html" %}
{% block content %}
<div style="margin-top: 20px;" class="layui-anim layui-anim-scaleSpring">
    <div class="layui-panel">
        <div class="card-title">
            <h3><span>PK</span></h3>
            
        </div>
        <div class="card-line"></div>
    </div>
    <div class="layui-panel" style="padding: 20px;">
        <div class="card-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">我方</label>
                    <div class="layui-input-block">
                        <input type="text" id="name" class="layui-input" placeholder="{{sname}}" disabled>
                    </div>
                </div>
                <h1 style="color: rgb(255, 82, 82)">PK</h1>
                <div class="layui-form-item">
                    <label class="layui-form-label">“敌”方</label>
                    <div class="layui-input-block">
                        <select id="bname">
                            {% for userinfo in userinfos %}
                            <option value="{{userinfo.name}}">{{ userinfo.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="swap" class="layui-btn" style="margin: 5px">决斗吧！</button>
                    <a href="/game/rank">
                        <button class="layui-btn" style="margin: 5px">查看硬币排行榜</button>
                    </a>
                    <a href="/game/coin">
                        <button class="layui-btn" style="margin: 5px">去挖宝</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        const name = document.getElementById("name");

        function All() {
            $.ajax({
                type: "POST",
                url: "/game",
                dataType: "json",
                data: {
                    "bname": bname.value
                },
                success: layui.use("layer", function () {
                    layui.layer.msg("决斗成功！");
                })
            });
        }
        swap.addEventListener("click", All);

</script>
{% endblock %}
</body>

</html>