<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎回家 - Li</title>
</head>
<body>
{% extends "father.html" %}
{% block content %}
<div class="layui-panel layui-anim layui-anim-scaleSpring">
    <div style="padding: 30px;">
        <table class="layui-table">
            <div id="main" style="width: auto;height:250px;"></div>
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>名称</th>
                <th>硬币</th>
            </tr>
            </thead>
            <tbody>
            {% for i in all %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.coin }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="/game">
                <button class="layui-btn" style="margin: 5px">去决斗</button>
            </a>
            <a href="/game/coin">
                <button class="layui-btn" style="margin: 5px">去挖宝</button>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById("main"));

      // 指定图表的配置项和数据
      var option = {
        color: [
        "#5FB878",
        ],
        title: {
          text: "硬币排行表"
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "shadow"
          }
        },
        xAxis: {
          type: "value"
        },
        yAxis: {
          type: "category",
          data: {{l | safe}}
        },
        series: [
          {
            type: "bar",
            data: {{m}}
          },
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);

</script>
{% endblock %}
</body>
</html>