<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎回家 - Li</title>
    <style>
        .notice_bar{
            margin-bottom: 10px;
            padding: 20px;
            line-height: 1.6;
            border-left: 5px solid #5FB878;
            border-radius: 0 2px 2px 0;
            background-color: #ffffff;
        }
    </style>
</head>

<body>
{% extends "father.html" %}
{% block content %}
    <div class="notice_bar">
        <p>试运行两个月后，本项目更新至v.1.0.0，相关内容请查阅开发日志。</p>
    </div>
    <div>
        <div class="layui-panel">
            <div class="card-title">
                <h3><span>欢迎回家，{{ sname }}，今天尝尝「{% for menu_first in menus_first %}{{ menu_first["text"] }}{% endfor %}」？</span></h3>
                
            </div>
            <div class="card-line"></div>
        </div>
        <div class="layui-panel">
            <div class="card-body">
                <a href="/redblack">
                    <button class="layui-btn layui-btn-primary layui-border-green" style="margin: 5px">记红黑账</button>
                </a>
                <a href="/days">
                    <button class="layui-btn layui-btn-primary layui-border-green" style="margin: 5px;">记特别日期</button>
                </a>
                <a href="/log">
                    <button class="layui-btn layui-btn-primary layui-border-green" style="margin: 5px;">看开发日志</button>
                </a>
                <a href="/game">
                    <button class="layui-btn layui-btn-primary layui-border-green" style="margin: 5px;">玩家庭游戏</button>
                </a>
                <a href="/energy">
                    <button class="layui-btn layui-btn-primary layui-border-green" style="margin: 5px;">查{{sname}}的能量值</button>
                </a>
                <a href="/motto">
                    <button class="layui-btn layui-btn-primary layui-border-green" style="margin: 5px;">记每日格言</button>
                </a>
                <a href="/menu">
                    <button class="layui-btn layui-btn-primary layui-border-green" style="margin: 5px;">记食谱</button>
                </a>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="layui-panel">
            <div class="card-title">
                <h3><span>{{ sname }}，读一读格言——健康十个一</span></h3>
            </div>
            <div class="card-line"></div>
        </div>
        <div class="layui-panel">
            <div class="card-body">
                <p>1.一个宽广的胸怀</p>
                <p>2.一种合理的饮食习惯</p>
                <p>3.一种规律的生活</p>
                <p>4.一种热情开朗合群的性格</p>
                <p>5.一种能调节身心的业余爱好</p>
                <p>6.一种适合自己的锻炼方法</p>
                <p>7.一种不向任何压力低头的意志</p>
                <p>8.一种对待疾病的正确态度</p>
                <p>9.一种对年龄的忘却</p>
                <p>10.一种永远微笑的面孔</p>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="layui-panel">
            <div class="card-title">
                <h3><span>新格言</span></h3>
            </div>
            <div class="card-line"></div>
        </div>
        <div class="layui-panel">
            <div class="card-body">
                {% for motto in mottos %}
                <p>{{ motto["time"] }}: {{ motto["name"] }}分享了格言「{{ motto["text"] }}」</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="layui-panel">
            <div class="card-title">
                <h3><span>菜谱</span></h3>
            </div>
            <div class="card-line"></div>
        </div>
        <div class="layui-panel">
            <div class="card-body">
                {% for menu in menus %}
                <p>{{ menu["time"] }}: {{ menu["name"] }}会在{{ menu["date"] }}制作「{{ menu["text"] }}」</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="layui-panel">
            <div class="card-title">
                <h3><span>{{ sname }}，看看其他家人吧！</span></h3>
            </div>
            <div class="card-line"></div>
        </div>
        <div class="layui-panel">
            <div class="card-body">
                <div class="layui-row">
                    {% for user in users %}
                    <a href="/user/{{ user['name'] }}">
                        <div class="layui-panel layui-col-md3" style="margin: 10px;">
                            <div style="padding: 20px;">{{ user["name"] }}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="layui-panel">
            <div class="card-title">
                <h3><span>{{ sname }}，看看家庭成员的表现吧！</span></h3>
            </div>
            <div class="card-line"></div>
        </div>
        <div class="layui-panel">
            <div class="card-body">
                <div class="layui-row">
                    <div class="layui-panel layui-col-md3" style="margin-bottom: 20px; margin-right: 10px;">
                        <div class="layui-card-header">
                            <span style="color: #5FB878;">最能记帐人！</span>
                        </div>
                        <div class="layui-card-body">{{ award_all }}</div>
                    </div>
                    <div class="layui-panel layui-col-md3" style="margin-bottom: 20px; margin-right: 10px;">
                        <div class="layui-card-header">
                            <span style="color: #5FB878;">被记红帐最多</span>
                        </div>
                        <div class="layui-card-body">{{ award_wred }}</div>
                    </div>
                    <div class="layui-panel layui-col-md3" style="margin-bottom: 20px;">
                        <div class="layui-card-header">
                            <span style="color: #5FB878;">被记黑帐最多</span>
                        </div>
                        <div class="layui-card-body">{{ award_wblack }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="layui-panel">
            <div class="card-title">
                <h3><span>查看最新红黑帐</span></h3>
            </div>
            <div class="card-line"></div>
        </div>
        <div class="layui-panel">
            <div class="card-body">
                {% for i in redblack %}
                <div class="layui-card-body">
                    <span>【{{i["time"]}}】{{i["name"]}}记录{{i["bname"]}}</span>
                    {% if i.color == "红" %}
                    <span style="color: rgb(255, 114, 114);">“{{i.color}}帐”</span>
                    {% elif i.color == "黑" %}
                    <span style="color: rgb(71, 71, 71);">“{{i.color}}帐”</span>
                    {% endif %}
                    <span>：{% if i.text == "" %}没有写原因，可以当面问问TA~{% else %}{{i.text}} {% endif %}</span>
                </div>
                {% endfor %}
                <a href="/redblack/text">查看更多</a>
        </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="layui-panel">
            <div class="card-title">
                <h3><span>查看最新特殊日</span></h3>
            </div>
            <div class="card-line"></div>
        </div>
        <div class="layui-panel">
            <div class="card-body">
                {% for i in days %}
                <div class="layui-card-body">
                <span>
                    {{i["wtime"]}}：{{i["name"]}}
                    {% if i["bname"] == "null" %}
                    发布了公告
                    {% else %}
                    想要提醒
                    {{ i["bname"] }}
                    {% endif %}
                    <span>在【{{ i["time"] }}】这一天有【{{ i["why"] }}】事件。</span>
                </span>
                </div>
                {% endfor %}
                <a href="/days/text">查看更多</a>
        </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="layui-panel">
            <div class="card-title">
                <h3><span>查看最新排行榜</span></h3>
            </div>
            <div class="card-line"></div>
        </div>
        <div class="layui-panel">
            <div class="card-body">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>硬币</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in game %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.coin }}</td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <a href="/game/rank">查看更多</a>
        </div>
        </div>
    </div>
{% endblock %}
</body>

</html>