<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ infos["name"] }} - 用户 - Li</title>
</head>

<body>
{% extends "father.html" %}
{% block content %}
<div class="layui-panel" style="margin-bottom: 10px;">
    <div style="padding: 30px;">
        <h1>{{ infos["name"] }}
            {% if sname != infos["name"] %}
            {% if infos["name"] in following_list %}
            <button class="layui-btn" style="margin: 10px;" id="following">已关注</button>
            <script>
                const following = document.getElementById("following");
        
                function All() {
                    $.ajax({
                        type: "POST",
                        url: "/user/{{ infos['name'] }}",
                        dataType: "json",
                        data: {
                            'type': 'following',
                            'name': "{{ infos['name'] }}"
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                }
                following.addEventListener("click", All);
            </script>
            {% else %}
            <button class="layui-btn" style="margin: 10px;" id="follow">关注</button>
            <script>
                const follow = document.getElementById("follow");
        
                function All() {
                    $.ajax({
                        type: "POST",
                        url: "/user/{{ infos['name'] }}",
                        dataType: "json",
                        data: {
                            'type': 'follow',
                            'name': "{{ infos['name'] }}"
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                }
                follow.addEventListener("click", All);
            </script>
            {% endif %}
            {% else %}
            {% endif %}
        </h1>
        <p style="margin-top: 10px;">的账号创立于{{ infos["time"] }}，至今已有{{ redinfos_count }}个红帐，{{ blackinfos_count }}个黑账，记下{{ wredinfos_count }}个红帐，{{ wblackinfos_count }}个黑账。</p>        
    </div>
</div>

<div class="layui-panel" style="margin-bottom: 10px;">
    <div style="padding: 30px;">
        <h4>您的关注</h4>
        {% if following_list == [] %}
        <span>您暂时没有关注别人</span>
        {% else %}
        <span>
            {% for following in following_list %}
            {{following}}
            {% endfor %}
        </span> 
        {% endif %}

        <h4>您的粉丝</h4>
        {% if follower_list == [] %}
        <span>您暂时没有粉丝</span>
        {% else %}
        <span>
            {% for follower in follower_list %}
            {{follower}}
            {% endfor %}
        </span> 
        {% endif %}
    </div>
</div>


<div class="layui-panel" style="margin-bottom: 10px;">
    <div style="padding: 30px;">
        <h2>{{ infos["name"] }}的红帐</h2>
        <table class="layui-table">
            <thead>
            <tr>
                <th>记账人</th>
                <th>原因</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            {% for redinfo in redinfos %}
            <tr>
                <td>{{ redinfo.name }}</td>
                <td>{{ redinfo.text }}</td>
                <td>{{ redinfo.time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="layui-panel" style="margin-bottom: 10px;"
">
<div style="padding: 30px;">
    <h2>{{ infos["name"] }}的黑帐</h2>
    <table class="layui-table">
        <thead>
        <tr>
            <th>记账人</th>
            <th>原因</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody>
        {% for blackinfo in blackinfos %}
        <tr>
            <td>{{ blackinfo.name }}</td>
            <td>{{ blackinfo.text }}</td>
            <td>{{ blackinfo.time }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>


<div class="layui-panel" style="margin-bottom: 10px;"
">
<div style="padding: 30px;">
    <h2>{{ infos["name"] }}记下的红帐</h2>
    <table class="layui-table">
        <thead>
        <tr>
            <th>记账人</th>
            <th>原因</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody>
        {% for wredinfo in wredinfos %}
        <tr>
            <td>{{ wredinfo.name }}</td>
            <td>{{ wredinfo.text }}</td>
            <td>{{ wredinfo.time }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
<div class="layui-panel" style="margin-bottom: 10px;"
">
<div style="padding: 30px;">
    <h2>{{ infos["name"] }}记下的黑帐</h2>
    <table class="layui-table">
        <thead>
        <tr>
            <th>记账人</th>
            <th>原因</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody>
        {% for wblackinfo in wblackinfos %}
        <tr>
            <td>{{ wblackinfo.name }}</td>
            <td>{{ wblackinfo.text }}</td>
            <td>{{ wblackinfo.time }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
</body>

</html>